// Specific CSS for your home-page
.paragraphe {
  margin-bottom: 30px;
   margin-top: 60px;
}

.margin-video {
  margin-bottom: 60px;

}

.conditions {
  display: flex;
}

.home-video {
  // width: -webkit-fill-available;
  // height: 60vh;
  width: 55vw;
  margin-bottom: 40px;
}


.annonceflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.annoncedescription {
max-width: 32vw;
    max-height: 23px;
    overflow-y: scroll;
    min-width: 33vw;
    display: flex;
    justify-content: center;
        padding-left: 13px;
    }


.annoncetime {
      padding-right: 12px;
}

@media(max-width: 768px) {
  .home-video {
    width: 90vw;
  }
}

.container-annonces{
  padding-top: 10vh;
  min-height: 100vh;
}
