
.banner {
color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.banner-contact {
color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color_overlay_banner {
  background-color: #03033A;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}

.banner-content {
  display: flex;
  color: white;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 1;
}


.banner-product {
  height: 80vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-repeat:no-repeat;

}

.banner-product2 {
  height: 95vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-repeat:no-repeat;

}

.flex-icon {

display: inline-flex;
justify-content: space-between;
align-items : center;
margin-bottom: 35px;
}


.contact-icon {
display: inline-flex;
justify-content: center;
margin-top: 35px;
}

.contact-mail {
display: inline-flex;
justify-content: end;
margin-bottom: 35px;
}

.svg {
  width: 50px;
  position: relative;
   margin-right: 5px;

}

.svg-eye {
width: 50px;

  position: relative;

  margin-right: 5px;
}

.svg-watch {
  width: 58px;
  position: relative;
  margin-right: 5px;
}


.svg-contact {
  width: 40px;
  position: relative;
}


.link-home {
  color: black;
}

.link-home:hover {
  color: black;
}

.flexedit {
display: flex;
justify-content: center;
flex-direction: column;
}

.flexedit2 {
 display: flex;
justify-content: center;

}

.flexedit3 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.container {
  margin-top: 15px;
}

.banner-annonce {

  color: #f6f0e4;
    height: 51vh;
    background-size: cover !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}




.banner-content h5 {
  font-weight: bolder;
  font-size: 24px;
}



.banner-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
        margin-bottom: 70px;

  }


.answercenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.productcontent {
    display: flex;
    justify-content: center;
}


.title-margin {
 margin-top: 40px;
}


.bluewrapper {
width: 100vw;
background-color: #b3b3d6;
color : white;
padding : 20px;
text-align: center;

}


.flexcontact {
   display: flex;
    justify-content: center;
}
