
.banner {
  color: #f6f0e4;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

.flexedit {
display: flex;
justify-content: center;
flex-direction: column;
}

.flexedit2 {
 display: flex;
justify-content: center;

}

.flexedit3 {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.container {
  margin-top: 15px;
}

.banner-annonce {

  color: #f6f0e4;
    height: 51vh;
    background-size: cover !important;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}


.banner-content {
  padding-left: 50px;
  margin-top: 70px;

}

.banner-content h5 {
  font-weight: bolder;
  font-size: 24px;
}



.banner-btn-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
        margin-bottom: 70px;

  }


.answercenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.productcontent {
    display: flex;
    justify-content: center;
}


.title-margin {
 margin-top: 40px;
}





.flexcontact {
   display: flex;
    justify-content: center;
}
