.btn {
  display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media(max-width: 768px) {
  .btn-cta {
    width: min-content;
  }
}

.btn-cta {
  color: #f6f0e4;
  border: 1px solid #f6f0e4;
  font-size: 21px;
  padding: 0.375rem 4.75rem;
}

.btn-cta:hover {
    color: #f6f0e4;
      border: 1px solid black;
}

.btn-home {
   color: white;
   border: 1px solid white;
   padding: 15px 20px ;
   font-size: 15px;
   margin-bottom: 23px;
   // margin-right: 25px;
}


.btn-home2 {
   color: black;
   border: 1px solid black;
   padding: 15px 20px ;
   font-size: 15px;
   margin-bottom: 23px;
   margin-right: 12px;
   margin-left: 12px
}


.btn-home2:hover {
 border: 1px solid gray;

}

.btn-inscription {
 background-color: antiquewhite;
    padding: 0.375rem 11rem;
    border-radius: 50px;
    margin-top: 29px;
    margin-bottom: 14px;
}

.btn-contact {
background-color: #24cec6;
padding: 5px 18px;
border-radius: 50px;
margin-top: 29px;
margin-bottom: 14px;
border-color: #24cec6;
}


.btn-contact2 {
background-color: #24cec6;
padding: 5px 18px;
border-radius: 50px;

border-color: #24cec6;
}

.btn-annonce {
 background-color: #11d6c9;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #11d6c9
}

.btn-primary:hover {
background-color: #11d6c9;
border-color:  #11d6c9;
}

.btn-validation {
    background-color: #1edd88;
    padding: 0.375rem 11rem;
    border-radius: 50px;
    margin-top: 29px;
    margin-bottom: 14px;
}



.tabsmargin {
 margin-left: -3px;
}


.dashboardbutton {
  text-align: right;
  margin: 0;
}

