.black-card {
    background-color: #494f4f;
    width: 53vw;
    height: 42vh;
    margin-left: 35px;
    margin-top: 40px;
    border-radius: 7px;
    opacity: 0.9;
    padding: 14px;

}

.description {
  width: 53vw;
    height: 17vh;
    margin-left: 15px;
}
