.img-nav-dash {
  margin: 2rem;
   position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.navdash-b {
  margin:  auto;
}

.med-dash-nav {
  background-image: url("https://i.ibb.co/XxxJFcM/background-red.jpg");
  background-size: cover;
}

.list-nav {
  width: 95vw;
}

.list-nav h3 {
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}



.line_confirmation {
    border-bottom: 2px solid #9c9ea0;
    width: 80%;
    margin-top: 45px;
    margin-left: 10%;
    margin-bottom: 5%;
  }


.card-trial {
 margin-bottom: 4%;
}

.card-trial-elements {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
   padding: 22px 77px 0px 50px;

      }

  .card-trial img {

width: 11vw;
  position: relative;
}

body {
  background-color: #ffff
}

.watch_brand_material {
  max-width: 60px;
  overflow: scroll;
}

@media(max-width: 768px) {
.card-trial-elements {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
   padding: 22px 20px 0px;}
 }

@media(max-width: 768px) {
.watch_brand_material {
  overflow: scroll;

}
   }

