

.border-tag {
  display: flex;
  margin-top: 35px;
  flex-direction: column;

}

.cardcategory {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.searchbouton {
  display: flex;
  justify-content: center;
}

.searchcategory {
  display: flex;
  flex-direction: column;



}

.searchtitle {
  background-color: #cecece;
  text-align: center;
  padding-top: 3px;
}

.searchcontent {
padding: 15px;
background-color: #efeded;
text-align: center;

}

.search-box
{
    margin: 0 auto;
    width: fit-content;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
   background: white;

}
.search-btn
{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #12d6ca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #757575;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
