

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 30px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  // width: 30%;
  // top: 50%;
  margin: 0 auto;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  //  transform: translate(-50%, -50%);
}



select {
    border: 1px solid grey;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    height: 25px;
}
input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.desearch {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.desearch p {
 margin-top: 0;
 margin-bottom: 0px;
}

.border-tag {
  display: flex;
  margin-top: 35px;
  flex-direction: column;

}

.cardcategory {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (min-width: 576px) {
  .cardcategory {
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }
}

.cardstonecategory {
 display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.searchbouton {
  display: flex;
  justify-content: center;
}

.searchcategory {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)



}

.searchtitle {
  background-color: #22cec6;
  text-align: center;
  padding-top: 3px;
}


.searchcontent {
padding: 15px;
background-color: #efeded;
text-align: center;
display: flex;

}


.searchcontentforme {
    padding: 35px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-right: 31px;
    padding-top: 49px;
    padding-bottom: 56px;
    justify-content: center;
}


.searchcontentcolor {
  padding: 21px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-bottom: 54px;
    justify-content: center;
}



.searchcontentcarat {
    padding: 1px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-top: 16px;
    padding-bottom: 54px;
    justify-content: center;
}


.searchcontentpurete {
   padding: 20px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-bottom: 59px;
    justify-content: center;
}


.searchcontenttaille {
    padding: 15px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    padding-top: 20px;
    display: flex;
    padding-bottom: 59px;
    justify-content: center;
}



.searchcontentsymetrie {
    padding: 15px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-bottom: 60px;
    padding-top: 19px;
    justify-content: center;
}


.searchcontentfluo {
    padding: 50px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}


.searchcontentpolish {
   padding: 31px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    padding-bottom: 39px;
    -webkit-box-pack: center;
    justify-content: center;
}

.searchcontentcertificat {
    padding: 50px;
    background-color: #efeded;
    text-align: center;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.search-box
{
    margin: 0 auto;
    width: fit-content;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
   background: white;

}
.search-btn
{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #12d6ca;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #757575;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}
