
<div class="container">

  <div class="row">
  <div class=" col col-xs-12 col-lg-12">
    <div class="contactcard2 text-center">
      <div class="col col-xs-12 col-lg-4">
      <div class="pictureproductcard">
   <h1> Nom du produit </h1>
</div>
</div>

<div class="col col-xs-12 col-lg-8">
<div class="descriptionproductcard">
 <p> Description blabla</p>
</div>

</div>
</div>
</div>
</div>
